/* note: when you import a url you must add it at the top of the css file */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}